@model StudentLessonVM
@{
    ViewData["Title"] = "Lessons";
    var role = Context.Session.GetString("role");
    var studentLessons =Model.Student;
}
<h2>Lesson Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            @if (role == "Admin")
            {
                <th>Choose</th>
            }
        </tr>
    </thead>
    <tbody>
        <form asp-action="GetCheckBoxes" asp-route-id=@Model.Id asp-controller="Students" method="post">
            <table class="table table-bordered table-striper table-hover">
                <thead>
                    <tr>
                        <th>Lessons</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lessons)
                    {
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" name="ids" type="checkbox" @(studentLessons.Lessons.Where(a=>a.Id==item.Id).Any()?"checked":"") value="@item.Id" id="@item.Id" />
@*                                    <input class="form-check-input" name="ids" type="checkbox" @(studentLessons.Lessons.Where(a=>a.Id==item.Id).Any()?"checked":"") value="@item.Id" id="@item.Id" />*@
                                    @Html.DisplayFor(modelItem=>item.Name)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<input type="submit" name="submit" value="Ekle" onclick="AddLesson('@Model.Id')" class="btn btn-primary" />*@
            <input type="submit" name="submit" value="Ekle" onclick="AddLesson('@Model.Id')" class="btn btn-primary" />
        </form>
    </tbody>
</table>

